<h1 class="pb-4">Explore Categories</h1>


<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categories</li>
        </ol>
    </nav>
</div>


<div class="content-container-right clearfix">
    <div class="container">
        <div class="right m-0 pt-3 " style="width:100%">
            <section class="right-wrapper">
                <div class="right__list row m-0">
                    <% shop.map((shop) => { %>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 p-1 right-item" id="<%- shop.id %>">
                            <a class="" href="#">
                                <img src="../img/<%- shop.img %>" alt="">
                                <div>
                                    <div class="right-item__desc">
                                        <p class="m-0"title="<%- shop.shopName %>"><%- shop.shopName %>
                                        <p class="m-0"title="<%- shop.address %>"><%- shop.address %></p>
                                    </div>
                                    <div class="row flex justify-content-start flex-nowrap ml-1 right-item__disc">
                                        <div class="flex justify-content-start pl-1 pr-1">
                                            <i class="fas fa-tag pr-1 "></i>
                                            <p class="m-0"><%- shop.cost %></p>
                                        </div>
                                        <div class="flex justify-content-start align-center pl-1 pr-1">
                                            <i class="fa fa-dollar pr-1"></i>
                                            <p class="m-0">Giá 40k</p>
                                        </div>
                                    </div>
                                    <div class="row flex justify-content-start flex-nowrap right-item__disc">
                                        <div class="flex justify-content-start align-center mr-1">
                                            <i class="fas fa-tag pl-1"></i>
                                            <p class="m-0 pr-1">Mã giảm 20k</p>
                                        </div>
                                        <div class="flex justify-content-start align-center">
                                            <i class="fas fa-motorcycle pl-1 pr-1"></i>
                                            <p class="m-0 pr-1">Giá 20k</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </section>
        </div>        
    </div>
</div>